* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --blue: #3d5056;
  --gray: #9da2a8;
  --brown: #924e3b;
  font-family: "Quicksand", sans-serif;
}

/* CSS for Aside */

body {
  background-color: #f1faee;
}
main {
  margin-top: 1.5px;
  display: flex;
}

nav {
  height: 100px;
  padding: 8px;
  background: var(--brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: bold;
  color: white;
}
nav a {
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
#space {
  width: 40vw;
}
#search-box {
  width: 100%;
  margin-right: 3vw;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 2px 3px 2px #888888;
  border-style: none;
}
nav img {
  width: auto;
  height: 70px;
}
#home {
  background-color: var(--gray);
  padding: 20px;
  border-radius: 15px;
}
#about,
#contact,
#blog {
  padding: 20px;
}
#about:hover,
#contact:hover,
#blog:hover {
  background-color: var(--gray);
  border-radius: 15px;
}

article {
  width: 70%;
  float: left;
  height: 100%;
  /* border: 3px solid blueviolet; */
}
.aside {
  background-color: white;
  padding-left: 5px;
  padding-right: 15px;
  width: 30%;
  height: 100%;
  float: right;
  /* border: 2px solid #1D3557; */
  box-shadow: 2px 2px 5px #1d3557;
  /* overflow: hidden; */
}
.aside > section {
  margin: 5px;
  width: 100%;
  height: 25%;
  /* border: 1px solid red; */
}
.Asec-heading {
  margin-top: 50px;
  /* margin-left: 20px; */
  margin-bottom: 10px;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 40px;
}
.Line {
  /* align-items: center ; */
  width: 80%;
  /* float: right; */
  opacity: 0.4;
  margin-bottom: 30px;
}
.cirImg {
  /* margin-left: 20px; */
  width: 80px;
  height: 80px;
  /* border: .5px solid black; */
  border-radius: 50%;
  box-shadow: 2px 2px 2px #1d3557;
}
#Img-1 {
  background-image: url("..//Images/circle1.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#Img-2 {
  background-image: url("..//Images/circle2.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#Img-3 {
  background-image: url("..//Images/circle3.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#cirImg-Content {
  margin-left: 20px;
  width: 100%;
  height: 100px;
  float: right;
  /* display: flex; */
  padding: 10px;
  /* justify-content: center; */
  box-shadow: 0px 1px 0.1px 0.1px #1d3557;
}
.Asec-1-Container {
  display: flex;
  width: 100%;
}
#cirImg-Content a {
  text-decoration: none;
  color: #1d3557;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
#cirImg-Content p {
  color: #e63946;
}

.Newsletter-Container {
  margin-top: 30px;
  width: 100%;
  height: 350px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 10px #1d3557;
  padding: 50px;
}
.Newsletter-Container p {
  margin-bottom: 20px;
  font-size: 18px;
  box-shadow: 2px 2px 5px #a8dadc;
}

#Email {
  margin: 1px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #a8dadc;
}
.Newsletter-Container label {
  box-shadow: 1px 1px 2px #a8dadc;
}

button {
  background-color: orange;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url("..//Images/office.jpg");
  background-position: top;
  background-size: cover;
  box-shadow: 2px 2px 2px #1d3557;
}
/* footer */
footer {
  background-color: #924e3b;
}
.top {
  display: flex;
}

.top h2 {
  color: wheat;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.top h2:hover {
  color: teal;
}
.top p {
  color: lightgray;
  margin: 10px;
  justify-content: space-between;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 30px;
}
.sec1 {
  width: 33.3%;
  padding: 20px;
}
.sec1 h2 {
  margin-left: 10px;
  margin-bottom: 20px;
}
.sec2 {
  padding: 20px;
  width: 33.3%;
}
.sec2 h2 {
  margin-left: 10px;
  margin-bottom: 20px;
}
.sec2 input[type="text"] {
  width: 80%;
  padding: 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.sec2 h3 {
  color: wheat;
}
.sec2 input[type="checkbox"] {
  margin-top: 16px;
  color: white;
  padding: 5px;
}

.sec3 {
  padding: 20px;
  width: 33.3%;
}
.sec3 h2 {
  margin-left: 10px;
  margin-bottom: 20px;
}
.bottom {
  display: flex;
}
.p1 {
  padding: 20px;
  width: 33.3%;
}
.p1 p {
  font-size: 15px;
}
.p2 {
  padding: 20px;
  width: 33.3%;
}
.p2 a {
  text-decoration: none;
  padding: 10px;
  color: lightgray;
  font-size: 20px;
  line-height: 40px;
}
.p3 {
  padding: 20px;
  width: 33.3%;
}
.p3 ul {
  list-style: none;
  display: flex;
  margin-left: 200px;
}
.p3 ul i {
  padding: 10px 15px;
  align-items: flex-end;
  color: white;
}

hr {
  opacity: 0.2;
}
.p2 a:hover {
  color: teal;
  text-decoration: underline aquamarine;
  transition: 0.4s;
}
.btn input {
  width: 80%;
  text-align: center;
  background-color: #457b9d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
}
.btn input:hover {
  color: lightseagreen;
  background: midnightblue;
}
.sec3 img {
  width: 32%;
  height: 35%;
  padding: 5px;
}
.sec3 img:hover {
  opacity: 0.8;
  border: 5px solid #457b9d;
}
.sec3 input {
  padding: 5px;
  margin-left: 20px;
  background: #457b9d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.sec3 input:hover {
  background: #a8dadc;
  opacity: 0.9;
  color: black;
}
.p3 i:hover {
  color: lightskyblue;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* article */

.cardData {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  position: relative;
  width: 300px;
  height: 420px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: url(/asset/Images/1.jpg) center / cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: 0.7s;
  opacity: 0;
}

.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  transform: translateY(200px);
  transition: 0.3s;
}

.name {
  position: relative;
  padding: 3px 0;
}

.name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.4s;
  transition-delay: 0.5s;
}

.content p {
  font-size: 13px;
}

.content a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .name::after {
  width: 100%;
}

.card-two {
  background: url(/asset/Images/2.jpg) center / cover;
}

.card-three {
  background: url(/asset/Images/3.jpg) center / cover;
}
.card-four {
  background: url(/asset/Images/4.jpg) center / cover;
}
.card-five {
  background: url(/asset/Images/5.jpg) center / cover;
}
.card-six {
  background: url(/asset/Images/6.jpg) center / cover;
}

/* --------------------------------------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------- */
.streetsmart-box {
  padding: 60px;
}

.streetsmart-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.img-part {
  margin: auto;
  width: 30%;
  height: 300px;
  /* border: 1px solid black; */
}
.img-part img {
  height: 250px;
  width: 200px;
}

.p-part {
  font-size: large;
  color: gray;
  width: 70%;
  height: 300px;
  /* border: 1px solid red; */
}
.p-part h1 {
  color: black;
}
